
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <!-- Icon - IconMonster -->
    <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" />
    <!-- Mumble UI -->
    <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
    <!-- Dev Search UI -->
    <link rel="stylesheet" href="{% static 'styles/app.css' %}" />

    <title>RIO GRANDE ART & GRAPHICS, ETC...</title>
  </head>


  {% if page == 'register' %}  
  <body>
    <div class="auth">
      <div class="card">
        <div class="auth__header text-center">
          <a href="/">
            <img src="{% static 'images/favicon.ico' %}" alt="icon" />
          </a>
          <h3>Register</h3>
          <p>Create a new account</p>
        </div>

        <form method="POST" action="{% url 'register' %}" class="form auth__form">
            {% csrf_token %}
            <!-- Input:Text -->
            {% for field in form %}

            <div class="form__field">
                <label for="formInput#text">{{ field.label }}: </label>
                {{ field }}

                {% comment %} {% if field.help_text %}
                    <small>{{field.help_text}}</small>
                {% endif %} {% endcomment %}

                {% for error in field.errors %}
                    <p style="color:red;">{{ error }}</p>
                {% endfor %}
                {% comment %} <input
                  class="input input--text"
                  id="formInput#text"
                  type="text"
                  name="text"
                  placeholder="e.g. Dennis Ivanov"
                /> {% endcomment %}
              </div>
            {% endfor %}
          

          

           
          <div class="auth__actions">
            <input class="btn btn--sub btn--lg" type="submit" value="Register" />
          </div>
        </form>
        <div class="auth__alternative">
          <p>Already have an Account?</p>
          <a href="{% url 'login'  %}">Log In</a>
        </div>
      </div>
    </div>      
  {% else %}
  <body>
    <div class="auth">
      <div class="card">
        <div class="auth__header text-center">
          <a href="/">
            <img src="{% static 'images/favicon.ico' %}" alt="icon" />
          </a>
          <h3>Account Login</h3>
          <p>Hello, Welcome Back!</p>
        </div>

       
        <!--Form-->
        <form action="{% url 'login' %}" method="POST" class="form auth__form">
          <!-- Input:Username -->
          {% csrf_token %}
          <div class="form__field">
            <label for="formInput#text">Username: </label>
            <input
              class="input input--text"
              id="formInput#text"
              type="text"
              name="username"
              placeholder="Enter your username..."
            />
          </div>

          <!-- Input:Password -->
          <div class="form__field">
            <label for="formInput#password">Password: </label>
            <input
              class="input input--password"
              id="formInput#passowrd"
              type="password"
              name="password"
              placeholder="••••••••"
            />
          </div>
          <div class="auth__actions">
            <input class="btn btn--sub btn--lg" type="submit" value="Log In" />
            <a href="forgetpassword.html">Forget Password?</a>
          </div>
        </form>
        <div class="auth__alternative">
          <p>Don’t have an Account?</p>
          <a href="{% url 'register'  %}">Sign Up</a>
        </div>
      </div>
    </div>
    {% endif %}
  </body>
</html>
