<!-- SUBSCRIBE -->
<div class="container mt-5">
    <div class="text-center fs-3 mb-4 GrotesqueLight">SUBSCRIBE TO MY NEWSLETTER!</div>
    <p class="text-center mb-4  GrotesqueLight">Don't miss out!<br>Get my latest video tutorials, be informed of new arrivals in the shop, and check out new pieces for sale, painting tips/technique, events and more:</p>
    <div class="h-100 d-flex align-items-center justify-content-center">
        <form class="row g-2">
            
            <div class="m-0 p-0 col-8">
            <label for="email" class="visually-hidden">Email</label>
            <input type="email" style="width: 20em;" class="form-control GrotesqueLight " id="email" placeholder="Email Address" />
            </div>
            <div class="m-0 p-0 col-4">
            <button type="submit" class="btn btn-dark mb-3 GrotesqueLight">SIGN UP</button>
            </div>
        </form>
    </div>
</div>